
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="com.learn.spring_boot.Dev">

<!--        setter injection-->
<!--        <property name="age" value="12"/>-->

<!--        constructor injection-->
<!--        <constructor-arg name="age" value="16"/>-->
<!--        <constructor-arg name="name" value="arun"/>-->
    </bean>

</beans>